</div>
<!-- /#wrapper -->

<!-- jQuery -->
<script src="/assets/js/jquery.min.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="/assets/js/jquery-ui.min.js"></script>
<script src="/assets/js/bootstrap.min.js"></script>
<script src="/assets/js/typeahead.min.js"></script>


<script>

    // datepickers

    $( function() {

        $( "#user_dob" ).datepicker({ dateFormat: 'yy-mm-dd' });
        $( "#join_date" ).datepicker({ dateFormat: 'yy-mm-dd' });
        $( "#production_date" ).datepicker({ dateFormat: 'yy-mm-dd' });
        $( "#expire_date" ).datepicker({ dateFormat: 'yy-mm-dd' });
        $( "#entry_date" ).datepicker({ dateFormat: 'yy-mm-dd' });

    });



</script>


</body>

</html>
